body {
    background-color: #666;
}
body,html {
    height: 100%;
    margin: 0;
}

h2,h3,h4,h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 280%;
    color: #eee;
    font-variant: small-caps;
    text-shadow: 0px 0px 3px #eee;
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-left: 20px;
}

h2 {
    padding-bottom: 60px;
    padding-left: 20px;
    color: #eee;
    clear: both;
    font-size: 150%;
}

h3 {
    font-size: 140%;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    color: #eee;
    clear: both;
}

p,span,strong,li {
    font-family: 'Open Sans', sans-serif;
    font-size: 85%;
}

p {
    margin-bottom: 1em;
    line-height: 1.5;
    text-align: justify;
    color: #eee;
}

#base_content a {
    color: #eee;
}

#base_content ul,ol {
    margin-bottom: 1em;
}

#base_content li {
    color: #eee;
    line-height: 1.5;
    text-align: justify;
    list-style-type: disc;
    margin-left: 1.5em;
}

#base {
    margin-top: 0;
    height: 100%;
}

#base_inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #323232;
    margin-top: 0;
    min-height: calc(100% - 202px);
}

#base_header_outer {
    background-color: #212121;
}

#base_header {
    padding: 0px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
}

#base_nav {
    height: 32px;
    background: #303030;
    background: -moz-linear-gradient(top, #303030 0%, #282828 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#282828));
    background: -webkit-linear-gradient(top, #303030 0%,#282828 100%);
    background: -o-linear-gradient(top, #303030 0%,#282828 100%);
    background: -ms-linear-gradient(top, #303030 0%,#282828 100%);
    background: linear-gradient(to bottom, #303030 0%,#282828 100%);
    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#base_nav li {
    float: left;
    display: block;
    height: 32px;
}

#base_nav li a {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #eee;
    text-decoration: none;
    display: block;
    font-variant: small-caps;
    font-weight: bold;
}

#base_nav li:hover {
    background-color: #3a3a3a;
    text-decoration: underline;
}

#base_content {
    padding: 10px;
}

@media (max-width: 1200px) {
    #base_header_image {
        width: 1000px;
        background-position: -100px 0px; 
    }
}

@media (max-width: 1000px) {
    #base_header_image {
        width: 100%;
        background-position: -100px 0px; 
    }
    #base_nav {
        width: 100%;
    }
    #base_inner {
        width: 100%;
    }
    #base_header {
        width: 100%;
    }
}
